body {
    margin: 0px 0px 0px 0px;
}

#title {
    font-size: 80px;
}

.slide {
    position: absolute;
    left: 5%;
    top: 5%;

    width: 85%;
    height: 80%;
    padding: 20px 20px 20px 20px;

    font-size: 24px;

    color: #444;
    border: solid;
    border-width: 10px;
    /* -webkit-border-radius: 15px; */
    /* -moz-border-radius: 7px; */
    /* border-radius: 15px; */
}

/* button:hover, button:focus { */
button:focus {
    background: #999;
    text-decoration: none;
}

#exitButton {
    background: #222;
    color: #FFF;
    font-size:20px;
    border-width: 0px;

    position: absolute;
    z-index: 2;
    right: 6%;
    top: 9%;
}

#nextButton {
    padding: 20px 20px 20px 20px;
    background: #444;
    color: #FFF;
    font-size:20px;

    border-width: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: 10%;
}

input {
    border: 3px solid #444;
}
