body {
    margin: 0px 0px 0px 0px;
}

#title {
    font-size: 80px;
}

.slide {
    position: absolute;
    left: 5%;
    top: 5%;

    width: 85%;
    height: 80%;
    padding: 20px 20px 20px 20px;

    font-size: 24px;

    color: #444;
    /* border: solid; */
    /* border-width: 10px; */
    /* -webkit-border-radius: 15px; */
    /* -moz-border-radius: 7px; */
    /* border-radius: 15px; */
}

div#exitSlide {
    line-height: 35px;
}

/* button:hover, button:focus { */
button:focus {
    background: #999;
    text-decoration: none;
}

#exitButton {
    background: #222;
    color: #FFF;
    font-size:20px;
    border-width: 0px;

    position: absolute;
    z-index: 2;
    right: 6%;
    top: 9%;
}

#nextButton {
    padding: 20px 20px 20px 20px;
    background: #444;
    color: #FFF;
    font-size:20px;

    border-width: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

    position: absolute;
    z-index: 1;
    right: 10%;
    bottom: 10%;
}

#pieChart {
    position: absolute;
    z-index: 12;
    right: 10%;
    top: 10%;
}
#barChart {
    position: absolute;
    z-index: 16;
    right: 10%;
    bottom: 20%;
}
span#pieTotal {
    position: absolute;
    z-index: 13;
    right: 15%;
    top: 45%;
}
span#pieSame {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    z-index: 14;
    right: 15%;
    top: 20%;
}
span#pieGender {
    position: absolute;
    z-index: 15;
    right: 5%;
    top: 10%;
}

img.imgButton {
    height: 100px;
}
img#rGreyButton {
    position: absolute;
    z-index: 6;
    right: 0%;
    bottom: 0%;
}
img#rOrangeButton{
    position: absolute;
    z-index: 7;
    right: 0%;
    bottom: 0%;
}
img#lGreyButton {
    position: absolute;
    z-index: 8;
    left: 0%;
    bottom: 0%;
}
img#rReturn {
    position: absolute;
    z-index: 10;
    right: 0%;
    bottom: 0%;
}
img#flag {
    width: 50px;
    position: absolute;
    z-index: 9;
    right: 5%;
    top: 0%;
}
img#returnIpadMap {
    height : 630px;
    position: absolute;
    z-index: 11;
    right: 5%;
    top: 0%;
}

span.bold {
    color: #FFA438;
    /* font-size:20px; */
}
span.exit {
    color: #B5B5B5;
    /* font-size:20px; */
}
span#message {
    color: #999999;
    font-size:12px;
}

input {
    border: 3px solid #444;
}
